blog's here

<%= link_to '新增', new_blog_path %>

<table>
    <thead>
        <tr>
            <th>標題</th>
            <th>內容</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% @blog.each do |blog| %>
            <tr>
                <td>
                    <%= blog.title %>
                </td>
                <td>
                    <%= blog.content %>
                </td>
                <td>
                    <%= link_to "編輯", edit_blog_path(blog) %>
                    <%= link_to "刪除", blog_path(blog), method: :delete, data: { confirm: "sure?" } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
